# 作业：
有两个数据olympics.csv和city_edition_mapping.xlsx
- olympics1包含了历届奥运会获奖情况。数据中有6列，分别是：
    - Athlete: 运动员姓名
    - NOC: 国籍
    - Discipline: 比赛大项
    - Event: 比赛小项
    - Medal: 奖牌种类
    - Edition: 奥运会年份
- city_edition_mapping是奥运会举办年份和城市的对应表。

- olympics数据前两行：
| Athlete | NOC | Discipline | Event | Medal | Edition |
| --- | --- | --- | --- | --- | --- |
| HAJOS, Alfred | HUN | Swimming | 100m freestyle | Gold | 1896 |
| HERSCHMANN, Otto | AUT | Swimming | 100m freestyle | Silver | 1896 |

- city_edition_mapping数据前两行：
| City | Edition |
| --- | --- |
| Athens | 1896 |
| Paris | 1900 |

- 问题：
    - 美国(USA)在北京奥运会上在游泳大项目中一共获得了多少枚奖牌？
    - 一共获得多少枚金牌？
    - 每个游泳小项目（Events）获得多少奖牌？
    - 北京奥运会奖牌表前20（按照金牌个数从多到少排序）
        - 行：国家
        - 列：金银铜牌个数
        - 按照金牌个数从多到少排序

In [2]:
import pandas as pd
df_c=pd.read_excel('/Users/sjiang1009/OneDrive - officepro449/SavvyPro/Python/data/city_edition_mapping.xlsx')
df_o=pd.read_csv('/Users/sjiang1009/OneDrive - officepro449/SavvyPro/Python/data/olympics.csv')
df_c
df_o

,Athlete,NOC,Discipline,Event,Medal,Edition
0,"HAJOS, Alfred",HUN,Swimming,100m freestyle,Gold,1896
1,"HERSCHMANN, Otto",AUT,Swimming,100m freestyle,Silver,1896
2,"DRIVAS, Dimitrios",GRE,Swimming,100m freestyle for sailors,Bronze,1896
3,"MALOKINIS, Ioannis",GRE,Swimming,100m freestyle for sailors,Gold,1896
4,"CHASAPIS, Spiridon",GRE,Swimming,100m freestyle for sailors,Silver,1896
...,...,...,...,...,...,...
29211,"ENGLICH, Mirko",GER,Wrestling Gre-R,84 - 96kg,Silver,2008
29212,"MIZGAITIS, Mindaugas",LTU,Wrestling Gre-R,96 - 120kg,Bronze,2008
29213,"PATRIKEEV, Yuri",ARM,Wrestling Gre-R,96 - 120kg,Bronze,2008
29214,"LOPEZ, Mijain",CUB,Wrestling Gre-R,96 - 120kg,Gold,2008
29215,"BAROEV, Khasan",RUS,Wrestling Gre-R,96 - 120kg,Silver,2008

In [22]:
df=pd.merge(left=df_o,right=df_c,on='Edition',how='inner')
df

usa_beijing = df[(df.City=='Beijing') & (df.NOC=="USA") & (df.Discipline == "Swimming")]
#Q1: 
print("USA Beijing Swimming # of Medals: ", usa_beijing.shape[0])

#Q2: 
print("USA Beijing Swimming # of Golds: ", usa_beijing[usa_beijing.Medal == "Gold"].shape[0])

#Q3: 
print(usa_beijing.Event.value_counts())

#Q4:
beijing = df[(df.City=='Beijing')]
medal_list = beijing.pivot_table(values='Discipline', index='NOC', columns='Medal', aggfunc='count')
medal_list.sort_values(by="Gold",ascending=False).head(20)[["Gold","Silver","Bronze"]]

USA Beijing Swimming # of Medals:  68
USA Beijing Swimming # of Golds:  31
4x100m medley relay       16
4x200m freestyle relay    14
4x100m freestyle relay    13
100m backstroke            4
200m backstroke            3
200m individual medley     3
400m individual medley     3
100m butterfly             2
100m freestyle             2
200m freestyle             2
400m freestyle             2
100m breaststroke          1
200m breaststroke          1
200m butterfly             1
50m freestyle              1
Name: Event, dtype: int64

Medal   Gold  Silver  Bronze
NOC
USA    125.0   109.0    81.0
CHN     74.0    53.0    57.0
RUS     43.0    44.0    56.0
GER     42.0    16.0    43.0
KOR     41.0    11.0    26.0
NED     40.0    18.0     4.0
AUS     31.0    42.0    76.0
GBR     31.0    25.0    21.0
FRA     25.0    23.0    28.0
JPN     23.0    11.0    17.0
ARG     20.0     NaN    31.0
NOR     16.0     5.0     1.0
HUN     16.0     8.0     3.0
BRA     14.0    34.0    27.0
CAN     11.0    13.0    10.0
UKR     10.0     5.0    16.0
JAM      9.0     3.0     5.0
BLR      8.0     5.0    17.0
ITA      8.0    14.0    20.0
ESP      7.0    48.0    16.0