In [5]:
import numpy as np
import pandas as pd
from scipy import stats
import seaborn as sns

In [4]:
df = pd.read_csv("/Users/xinyuanliang/Desktop/new_data.csv")
df.head(10)

,Unnamed: 0,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
0,0,2019-11-01 00:00:00 UTC,view,1003461,2053013555631882655,electronics.smartphone,xiaomi,489.07,520088904,4d3b30da-a5e4-49df-b1a8-ba5943f1dd33
1,1,2019-11-01 00:00:00 UTC,view,5000088,2053013566100866035,appliances.sewing_machine,janome,293.65,530496790,8e5f4f83-366c-4f70-860e-ca7417414283
2,2,2019-11-01 00:00:01 UTC,view,17302664,2053013553853497655,NaN,creed,28.31,561587266,755422e7-9040-477b-9bd2-6a6e8fd97387
3,3,2019-11-01 00:00:01 UTC,view,3601530,2053013563810775923,appliances.kitchen.washer,lg,712.87,518085591,3bfb58cd-7892-48cc-8020-2f17e6de6e7f
4,4,2019-11-01 00:00:01 UTC,view,1004775,2053013555631882655,electronics.smartphone,xiaomi,183.27,558856683,313628f1-68b8-460d-84f6-cec7a8796ef2
5,5,2019-11-01 00:00:01 UTC,view,1306894,2053013558920217191,computers.notebook,hp,360.09,520772685,816a59f3-f5ae-4ccd-9b23-82aa8c23d33c
6,6,2019-11-01 00:00:01 UTC,view,1306421,2053013558920217191,computers.notebook,hp,514.56,514028527,df8184cc-3694-4549-8c8c-6b5171877376
7,7,2019-11-01 00:00:02 UTC,view,15900065,2053013558190408249,NaN,rondell,30.86,518574284,5e6ef132-4d7c-4730-8c7f-85aa4082588f
8,8,2019-11-01 00:00:02 UTC,view,12708937,2053013553559896355,NaN,michelin,72.72,532364121,0a899268-31eb-46de-898d-09b2da950b24
9,9,2019-11-01 00:00:02 UTC,view,1004258,2053013555631882655,electronics.smartphone,apple,732.07,532647354,d2d3d2c6-631d-489e-9fb5-06f340b85be0

In [7]:
df.info

<bound method DataFrame.info of          Unnamed: 0               event_time event_type  product_id  \
0                 0  2019-11-01 00:00:00 UTC       view     1003461
1                 1  2019-11-01 00:00:00 UTC       view     5000088
2                 2  2019-11-01 00:00:01 UTC       view    17302664
3                 3  2019-11-01 00:00:01 UTC       view     3601530
4                 4  2019-11-01 00:00:01 UTC       view     1004775
...             ...                      ...        ...         ...
9999995     9999995  2019-11-07 05:08:21 UTC       view     1005115
9999996     9999996  2019-11-07 05:08:21 UTC       view    12707281
9999997     9999997  2019-11-07 05:08:21 UTC       view     3601405
9999998     9999998  2019-11-07 05:08:21 UTC       view    12711053
9999999     9999999  2019-11-07 05:08:21 UTC       cart     1005121

                 category_id              category_code     brand   price  \
0        2053013555631882655     electronics.smartphone    xiaomi  489.07
1        2053013566100866035  appliances.sewing_machine    janome  293.65
2        2053013553853497655                        NaN     creed   28.31
3        2053013563810775923  appliances.kitchen.washer        lg  712.87
4        2053013555631882655     electronics.smartphone    xiaomi  183.27
...                      ...                        ...       ...     ...
9999995  2053013555631882655     electronics.smartphone     apple  915.69
9999996  2053013553559896355                        NaN  gislaved   90.86
9999997  2053013563810775923  appliances.kitchen.washer      beko  180.16
9999998  2053013553559896355                        NaN     tunga   32.69
9999999  2053013555631882655     electronics.smartphone     apple  947.98

           user_id                          user_session
0        520088904  4d3b30da-a5e4-49df-b1a8-ba5943f1dd33
1        530496790  8e5f4f83-366c-4f70-860e-ca7417414283
2        561587266  755422e7-9040-477b-9bd2-6a6e8fd97387
3        518085591  3bfb58cd-7892-48cc-8020-2f17e6de6e7f
4        558856683  313628f1-68b8-460d-84f6-cec7a8796ef2
...            ...                                   ...
9999995  517800555  c6b764e0-561c-4c17-a546-2e922196bb49
9999996  539095445  b1673b33-d0ff-4a09-bf57-56dedc3d016e
9999997  548916637  e020a307-551c-4e58-a787-126701d30d41
9999998  521586999  c8c48941-2ca1-4ce4-8d44-c96eb5df4fb5
9999999  563025983  9b19a94a-78b9-4ff8-8334-f48eed7cc0a0

[10000000 rows x 10 columns]>

In [18]:
df.describe()

         Unnamed: 0    product_id   category_id         price       user_id
count  1.000000e+07  1.000000e+07  1.000000e+07  1.000000e+07  1.000000e+07
mean   5.000000e+06  1.100008e+07  2.057828e+18  2.925741e+02  5.354292e+08
std    2.886751e+06  1.228346e+07  1.943274e+16  3.538111e+02  2.037214e+07
min    0.000000e+00  1.000365e+06  2.053014e+18  0.000000e+00  1.030022e+07
25%    2.500000e+06  1.005252e+06  2.053014e+18  6.667000e+01  5.159950e+08
50%    5.000000e+06  5.100722e+06  2.053014e+18  1.653100e+02  5.306267e+08
75%    7.499999e+06  1.640001e+07  2.053014e+18  3.654600e+02  5.548916e+08
max    9.999999e+06  6.210003e+07  2.180737e+18  2.574070e+03  5.684226e+08

In [19]:
df.groupby(["brand"])["price"].sum().sort_values(ascending=False).head(10)

brand
apple      7.941764e+08
samsung    3.994657e+08
xiaomi     1.441544e+08
acer       6.625119e+07
lg         6.446852e+07
huawei     6.024926e+07
sony       4.994830e+07
lenovo     4.839956e+07
asus       4.128366e+07
oppo       3.959087e+07
Name: price, dtype: float64

In [27]:
df.groupby(['category_id'])['price'].mean().sort_values(ascending=False).head(10)

category_id
2059484601444729123    1765.026331
2104564977263182827    1673.140000
2160912607672795565    1389.400968
2053013564523807647    1373.278156
2144356630513320518    1266.231528
2116907525235277959    1156.992389
2053013566310581247    1078.019815
2059484602216481097    1050.648924
2053013555724157349     951.283333
2053013560555995845     925.649067
Name: price, dtype: float64

In [29]:
df.groupby(['event_type','brand'])['price'].sum().sort_values(ascending=False).head(10)

event_type  brand
view        apple      7.475706e+08
            samsung    3.810269e+08
            xiaomi     1.403241e+08
            acer       6.545871e+07
            lg         6.341647e+07
            huawei     5.836018e+07
            sony       4.901969e+07
            lenovo     4.803033e+07
            asus       4.105378e+07
            oppo       3.838388e+07
Name: price, dtype: float64

In [ ]:
df.groupby('event_type').count()